<%- include('common/nav') -%>

<h1>
    User Login
</h1>

<form action="" method="post">
    <input type="text" name="email" /> <br><br>
    <input type="password" name="password" /> <br><br>

    <button type="submit">Submit</button>
</form>